body {
    background-image: url('https://i.imgur.com/lG4ydKW.png');
    color: #000;
    font-family: 'Quicksand', sans-serif;
    font-size: 1.3rem;
    max-width: 950px;
    margin: auto;
    word-wrap: break-word
}

.news,
.menu,
.list1,
.list2 {
    background: #fcfcfc;
    border: solid #e9e9e9;
    border-width: 0 1px 1px;
    padding: 5px
}

a {
    color: #1752a6;
    text-decoration: none
}

a:hover {
    color: #319795
}

.gmenu {
    background-color: #edf7e8;
    border: solid #e9e9e9;
    padding: 4px;
    border-width: 0 1px 1px
}

.rmenu {
    background-color: #ffd1f0;
    border: 1px solid #ffb3dc;
    margin: 1px 0 0;
    padding: 6px;
    overflow: auto
}

.topmenu {
    background-color: #f2f6f8;
    border: solid #e9e9e9;
    border-width: 0 1px 1px;
    color: #34617e;
    padding: 4px
}

input,
textarea,
select,
button,
.btn {
    background: #fff;
    border: 1px solid #d8d8d8;
    color: #686868;
    margin: 1px;
    padding: 4px;
    border-radius: 3px
}

video {
    text-align: center;
    margin: 0 auto;
    display: block;
    width: 70%;
    height: auto;
}

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

html {
    overflow-y: scroll !important
}

:focus {
    outline: 0
}

form {
    font-size: 1.2rem;
}

h3 {
    padding: 0 0 2px
}

hr {
    border: 0;
    border-top: 1px solid gray
}

p {
    margin-bottom: 6px;
    margin-top: 6px
}

ul {
    padding-left: 20px
}

input+input {
    margin-left: 4px
}

button,
.btn {
    display: inline-block;
    text-align: center
}

a.btn:hover {
    color: #686868
}

button,
input[type=submit] {
    cursor: pointer;
    background: #e3e8ea;
    padding: 3px 5px
}

button:hover {
    border-color: #000
}

select {
    padding: 3px
}

textarea {
    width: 100%;
    resize: vertical
}

.hide {
    display: none
}

.text {
    padding: 4px
}

.list1,
.list2,
.text,
.post>.postbody>.content {
    word-wrap: break-word
}

.phdr {
    border-bottom: #f0b400 solid 2px;
    background-image: linear-gradient(to bottom, #0a0b0c, #0f1012, #131517, #17181c, #1a1c20);
    color: #fff;
    margin-top: 4px;
    padding: 5px
}

.phdr a {
    color: #fff
}

::selection {
    color: #fff;
    background: #159f85
}

::-webkit-scrollbar {
    width: 10px
}

::-webkit-scrollbar-track {
    background-color: #fff
}

::-webkit-scrollbar-thumb {
    background-color: #07b
}

::-webkit-scrollbar-thumb:hover {
    background-color: #ccc
}

::-webkit-scrollbar-thumb:active {
    background-color: #ccc
}

.pagination a,
.pagination span {
    height: 20px;
    line-height: 20px;
    border: 1px solid #417394;
    padding: 1px 5px
}

.pagination .current {
    color: #fff;
    background-color: #8cafc6
}

.pagination .disabled {
    color: #777;
    cursor: not-allowed
}

a.pagenav {
    background-color: #f2f6f8;
    text-decoration: none
}

a.pagenav:hover {
    border-color: red
}

.pagination {
    text-align: center;
}

.pagination a,
.pagination span {
    height: 20px;
    line-height: 20px;
    border: 1px solid #417394;
    padding: 1px 5px
}

.pagination .current {
    color: #fff;
    background-color: #8cafc6
}

.pagination .disabled {
    color: #777;
    cursor: not-allowed
}

a.pagenav {
    background-color: #f2f6f8;
    text-decoration: none
}

a.pagenav:hover {
    border-color: red
}

.post {
    position: relative;
    max-width: 700px;
    width: 100%;
    margin: 0 auto
}

figure {
    margin: 0;
    position: relative;
    clear: both;
    margin: 20px
}

figure.left {
    margin-left: 0
}

figure.right {
    margin-right: 0
}

figure.full {
    margin-left: 0;
    margin-right: 0
}

.one-third {
    width: calc(100%/3)
}

.half {
    width: 50%
}

.full {
    width: 100%
}

.left {
    float: left
}

.right {
    float: right
}

.scrollbar-measure {
    width: 100px;
    height: 100px;
    overflow: scroll;
    position: absolute;
    top: -9999px
}

.img {
    display: block;
    margin: auto;
    max-width: 100%
}

.aspectRatioPlaceholder .img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%
}

.zoom-effect .img {
    cursor: pointer;
    cursor: -webkit-zoom-in;
    backface-visibility: hidden
}

.zoom-effect .zoomImg,
.zoom-effect .zoomImg-wrap {
    position: relative;
    z-index: 900;
    transition: all 300ms
}

.zoom-effect .zoomImg-wrap--absolute {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%
}

.zoom-effect .zoomImg {
    cursor: pointer;
    cursor: -webkit-zoom-out
}

.zoom-effect .zoomOverlay.show {
    opacity: 1
}

.zoom-effect .zoomOverlay {
    z-index: 800;
    background: #fff;
    position: absolute;
    transition: opacity 300ms;
    opacity: 0;
    cursor: pointer;
    cursor: -webkit-zoom-out
}

.blog_info,
.breadcrumb,
ul.blog {
    border-bottom: 1px solid #a8d9f6
}

.blog_info .thumb_blog img,
ul.blog li.thumb_blog img {
    border-radius: 5px
}

ul.blog {
    background-color: #FFF;
    padding-top: 5px;
    padding-bottom: 6px
}

ul.blog li.thumb_blog {
    float: left;
    margin-left: 5px;
    margin-top: 4px;
    transition: all .3s;
    -moz-transition: all .3s;
    -webkit-transition: all .3s;
    -o-transition: all .3s
}

ul.blog li.thumb_blog img:hover {
    margin-top: 1px;
    opacity: .6
}

ul.blog li.info_blog {
    margin-left: 51px
}

ul.blog li.info_blog span.title_blog {
    display: block;
    font-weight: 700;
    padding-bottom: 3px
}

ul.blog li.info_blog span.view_blog {
    font-size: 11px;
    color: gray
}

ul.blog li.info_blog span.view_blog img {
    margin-right: 4px
}

ul.blog li.info_blog span.cate_blog,
ul.blog li.info_blog span.time {
    font-size: 11px;
    color: gray;
    display: block;
    margin-bottom: 1px
}

ul.blog li.info_blog span.cate_blog img {
    margin-right: 2px
}

.breadcrumb {
    background: #fff;
    color: #0d6aa9;
    padding: 6px
}

.breadcrumb a {
    color: #0d6aa9;
    font-weight: 700
}

.content_blog {
    background-color: #FFF;
    padding: 8px
}

.content_blog h2 {
    font-size: 14px;
    font-weight: 400
}

.blog_info {
    border-radius: 5px;
    background-color: #FFF;
    padding-top: 5px;
    padding-bottom: 6px
}

.blog_info .thumb_blog {
    float: left;
    margin: 2px 5px 5px
}

.blog_info .thumb_blog label {
    display: block;
    margin: 2px 9px
}

.blog_info .more_info {
    margin-left: 51px
}

.blog_info .more_info .row {
    display: block;
    font-weight: 700;
    padding-bottom: 3px
}

.blog_info .more_info .row.tit h1 {
    font-size: 12px
}

.blog_info .more_info .row.more {
    font-size: 10.5px;
    color: gray
}

.blog_info .more_info .row.more img {
    margin-right: 3px
}

.list1:hover:hover {
    border-left: 4px solid #25B37A
}

.topic.cat_red {
    border-radius: 5px;
    background-color: #FF5252;
    border: 1px solid #D32F2F;
    color: #FFF;
    line-height: 14px;
    vertical-align: baseline;
    white-space: nowrap;
    padding: 1px 4px 2px
}

.topic.cat_blue {
    border-radius: 5px;
    background-color: #03A9F4;
    border: 1px solid #0288D1;
    color: #FFF;
    line-height: 14px;
    vertical-align: baseline;
    white-space: nowrap;
    padding: 1px 4px 2px
}

.topic.cat_green {
    border-radius: 5px;
    background-color: #4CAF50;
    border: 1px solid #388E3C;
    color: #FFF;
    line-height: 14px;
    vertical-align: baseline;
    white-space: nowrap;
    padding: 1px 4px 2px
}

.topic.cat_orange {
    border-radius: 5px;
    background-color: #FF5722;
    border: 1px solid #E64A19;
    color: #FFF;
    line-height: 14px;
    vertical-align: baseline;
    white-space: nowrap;
    padding: 1px 4px 2px
}

.form-control {
    display: block;
    width: 100%;
    height: 30px;
    padding: 5px 10px;
    font-size: 13px;
    line-height: 1.38461539;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s
}

.form-control:focus {
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6)
}

.form-control::-moz-placeholder {
    color: #999;
    opacity: 1
}

.form-control:-ms-input-placeholder {
    color: #999
}

.form-control::-webkit-input-placeholder {
    color: #999
}

.form-control::-ms-expand {
    border: 0;
    background-color: transparent
}

.form-control[disabled],
.form-control[readonly],
fieldset[disabled] .form-control {
    background-color: #eee;
    opacity: 1
}

.form-control[disabled],
fieldset[disabled] .form-control {
    cursor: not-allowed
}

textarea.form-control {
    height: auto
}

input[type=search] {
    -webkit-appearance: none
}

@media screen and (-webkit-min-device-pixel-ratio:0) {

    input[type=date].form-control,
    input[type=time].form-control,
    input[type=datetime-local].form-control,
    input[type=month].form-control {
        line-height: 30px
    }

    input[type=date].input-sm,
    input[type=time].input-sm,
    input[type=datetime-local].input-sm,
    input[type=month].input-sm,
    .input-group-sm input[type=date],
    .input-group-sm input[type=time],
    .input-group-sm input[type=datetime-local],
    .input-group-sm input[type=month] {
        line-height: 28px
    }

    input[type=date].input-lg,
    input[type=time].input-lg,
    input[type=datetime-local].input-lg,
    input[type=month].input-lg,
    .input-group-lg input[type=date],
    .input-group-lg input[type=time],
    .input-group-lg input[type=datetime-local],
    .input-group-lg input[type=month] {
        line-height: 41px
    }
}

.form-group {
    margin-bottom: 12px
}

.radio,
.checkbox {
    position: relative;
    display: block;
    margin-top: 10px;
    margin-bottom: 10px
}

.radio label,
.checkbox label {
    min-height: 18px;
    padding-left: 20px;
    margin-bottom: 0;
    font-weight: 400;
    cursor: pointer
}

.radio input[type=radio],
.radio-inline input[type=radio],
.checkbox input[type=checkbox],
.checkbox-inline input[type=checkbox] {
    position: absolute;
    margin-left: -20px;
    margin-top: 4px \9
}

.radio+.radio,
.checkbox+.checkbox {
    margin-top: -5px
}

.radio-inline,
.checkbox-inline {
    position: relative;
    display: inline-block;
    padding-left: 20px;
    margin-bottom: 0;
    vertical-align: middle;
    font-weight: 400;
    cursor: pointer
}

.radio-inline+.radio-inline,
.checkbox-inline+.checkbox-inline {
    margin-top: 0;
    margin-left: 10px
}

input[type=radio][disabled],
input[type=checkbox][disabled],
input[type=radio].disabled,
input[type=checkbox].disabled,
fieldset[disabled] input[type=radio],
fieldset[disabled] input[type=checkbox] {
    cursor: not-allowed
}

.radio-inline.disabled,
.checkbox-inline.disabled,
fieldset[disabled] .radio-inline,
fieldset[disabled] .checkbox-inline {
    cursor: not-allowed
}

.radio.disabled label,
.checkbox.disabled label,
fieldset[disabled] .radio label,
fieldset[disabled] .checkbox label {
    cursor: not-allowed
}

.form-control-static {
    padding-top: 6px;
    padding-bottom: 6px;
    margin-bottom: 0;
    min-height: 31px
}

.form-control-static.input-lg,
.form-control-static.input-sm {
    padding-left: 0;
    padding-right: 0
}

.input-sm {
    height: 28px;
    padding: 4px 8px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 0
}

select.input-sm {
    height: 28px;
    line-height: 28px
}

textarea.input-sm,
select[multiple].input-sm {
    height: auto
}

.form-group-sm .form-control {
    height: 28px;
    padding: 4px 8px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 0
}

.form-group-sm select.form-control {
    height: 28px;
    line-height: 28px
}

.form-group-sm textarea.form-control,
.form-group-sm select[multiple].form-control {
    height: auto
}

.form-group-sm .form-control-static {
    height: 28px;
    min-height: 30px;
    padding: 5px 8px;
    font-size: 12px;
    line-height: 1.5
}

.input-lg {
    height: 41px;
    padding: 8px 13px;
    font-size: 17px;
    line-height: 1.3333333;
    border-radius: 0
}

select.input-lg {
    height: 41px;
    line-height: 41px
}

textarea.input-lg,
select[multiple].input-lg {
    height: auto
}

.form-group-lg .form-control {
    height: 41px;
    padding: 8px 13px;
    font-size: 17px;
    line-height: 1.3333333;
    border-radius: 0
}

.form-group-lg select.form-control {
    height: 41px;
    line-height: 41px
}

.form-group-lg textarea.form-control,
.form-group-lg select[multiple].form-control {
    height: auto
}

.form-group-lg .form-control-static {
    height: 41px;
    min-height: 35px;
    padding: 9px 13px;
    font-size: 17px;
    line-height: 1.3333333
}

.has-feedback {
    position: relative
}

.has-feedback .form-control {
    padding-right: 37.5px
}

.form-control-feedback {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    display: block;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    pointer-events: none
}

.input-lg+.form-control-feedback,
.input-group-lg+.form-control-feedback,
.form-group-lg .form-control+.form-control-feedback {
    width: 41px;
    height: 41px;
    line-height: 41px
}

.input-sm+.form-control-feedback,
.input-group-sm+.form-control-feedback,
.form-group-sm .form-control+.form-control-feedback {
    width: 28px;
    height: 28px;
    line-height: 28px
}

.has-success .help-block,
.has-success .control-label,
.has-success .radio,
.has-success .checkbox,
.has-success .radio-inline,
.has-success .checkbox-inline,
.has-success.radio label,
.has-success.checkbox label,
.has-success.radio-inline label,
.has-success.checkbox-inline label {
    color: #3c763d
}

.has-success .form-control {
    border-color: #3c763d;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075)
}

.has-success .form-control:focus {
    border-color: #2b542c;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #67b168;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #67b168
}

.has-success .input-group-addon {
    color: #3c763d;
    border-color: #3c763d;
    background-color: #dff0d8
}

.has-success .form-control-feedback {
    color: #3c763d
}

.has-warning .help-block,
.has-warning .control-label,
.has-warning .radio,
.has-warning .checkbox,
.has-warning .radio-inline,
.has-warning .checkbox-inline,
.has-warning.radio label,
.has-warning.checkbox label,
.has-warning.radio-inline label,
.has-warning.checkbox-inline label {
    color: #8a6d3b
}

.has-warning .form-control {
    border-color: #8a6d3b;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075)
}

.has-warning .form-control:focus {
    border-color: #66512c;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #c0a16b;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #c0a16b
}

.has-warning .input-group-addon {
    color: #8a6d3b;
    border-color: #8a6d3b;
    background-color: #fcf8e3
}

.has-warning .form-control-feedback {
    color: #8a6d3b
}

.has-error .help-block,
.has-error .control-label,
.has-error .radio,
.has-error .checkbox,
.has-error .radio-inline,
.has-error .checkbox-inline,
.has-error.radio label,
.has-error.checkbox label,
.has-error.radio-inline label,
.has-error.checkbox-inline label {
    color: #a94442
}

.has-error .form-control {
    border-color: #a94442;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075)
}

.has-error .form-control:focus {
    border-color: #843534;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #ce8483;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #ce8483
}

.has-error .input-group-addon {
    color: #a94442;
    border-color: #a94442;
    background-color: #f2dede
}

.has-error .form-control-feedback {
    color: #a94442
}

.has-feedback label~.form-control-feedback {
    top: 23px
}

.has-feedback label.sr-only~.form-control-feedback {
    top: 0
}

.help-block {
    display: block;
    margin-top: 5px;
    margin-bottom: 10px;
    color: #737373
}

@media(min-width:768px) {
    .form-inline .form-group {
        display: inline-block;
        margin-bottom: 0;
        vertical-align: middle
    }

    .form-inline .form-control {
        display: inline-block;
        width: auto;
        vertical-align: middle
    }

    .form-inline .form-control-static {
        display: inline-block
    }

    .form-inline .input-group {
        display: inline-table;
        vertical-align: middle
    }

    .form-inline .input-group .input-group-addon,
    .form-inline .input-group .input-group-btn,
    .form-inline .input-group .form-control {
        width: auto
    }

    .form-inline .input-group>.form-control {
        width: 100%
    }

    .form-inline .control-label {
        margin-bottom: 0;
        vertical-align: middle
    }

    .form-inline .radio,
    .form-inline .checkbox {
        display: inline-block;
        margin-top: 0;
        margin-bottom: 0;
        vertical-align: middle
    }

    .form-inline .radio label,
    .form-inline .checkbox label {
        padding-left: 0
    }

    .form-inline .radio input[type=radio],
    .form-inline .checkbox input[type=checkbox] {
        position: relative;
        margin-left: 0
    }

    .form-inline .has-feedback .form-control-feedback {
        top: 0
    }
}

.form-horizontal .radio,
.form-horizontal .checkbox,
.form-horizontal .radio-inline,
.form-horizontal .checkbox-inline {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 6px
}

.form-horizontal .radio,
.form-horizontal .checkbox {
    min-height: 24px
}

.form-horizontal .form-group {
    margin-left: -12px;
    margin-right: -12px
}

@media(min-width:768px) {
    .form-horizontal .control-label {
        text-align: right;
        margin-bottom: 0;
        padding-top: 6px
    }
}

.form-horizontal .has-feedback .form-control-feedback {
    right: 12px
}

@media(min-width:768px) {
    .form-horizontal .form-group-lg .control-label {
        padding-top: 9px;
        font-size: 17px
    }
}

@media(min-width:768px) {
    .form-horizontal .form-group-sm .control-label {
        padding-top: 5px;
        font-size: 12px
    }
}

.btn {
    display: inline-block;
    margin-bottom: 0;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 5px 10px;
    font-size: 13px;
    line-height: 1.38461539;
    border-radius: 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus {
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px
}

.btn:hover,
.btn:focus,
.btn.focus {
    color: #333;
    text-decoration: none
}

.btn:active,
.btn.active {
    outline: 0;
    background-image: none;
    -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125)
}

.btn.disabled,
.btn[disabled],
fieldset[disabled] .btn {
    cursor: not-allowed;
    opacity: .65;
    filter: alpha(opacity=65);
    -webkit-box-shadow: none;
    box-shadow: none
}

a.btn.disabled,
fieldset[disabled] a.btn {
    pointer-events: none
}

.btn-default {
    color: #333;
    background-color: #fff;
    border-color: #ccc
}

.btn-default:focus,
.btn-default.focus {
    color: #333;
    background-color: #e6e6e6;
    border-color: #8c8c8c
}

.btn-default:hover {
    color: #333;
    background-color: #e6e6e6;
    border-color: #adadad
}

.btn-default:active,
.btn-default.active,
.open>.dropdown-toggle.btn-default {
    color: #333;
    background-color: #e6e6e6;
    border-color: #adadad
}

.btn-default:active:hover,
.btn-default.active:hover,
.open>.dropdown-toggle.btn-default:hover,
.btn-default:active:focus,
.btn-default.active:focus,
.open>.dropdown-toggle.btn-default:focus,
.btn-default:active.focus,
.btn-default.active.focus,
.open>.dropdown-toggle.btn-default.focus {
    color: #333;
    background-color: #d4d4d4;
    border-color: #8c8c8c
}

.btn-default:active,
.btn-default.active,
.open>.dropdown-toggle.btn-default {
    background-image: none
}

.btn-default.disabled:hover,
.btn-default[disabled]:hover,
fieldset[disabled] .btn-default:hover,
.btn-default.disabled:focus,
.btn-default[disabled]:focus,
fieldset[disabled] .btn-default:focus,
.btn-default.disabled.focus,
.btn-default[disabled].focus,
fieldset[disabled] .btn-default.focus {
    background-color: #fff;
    border-color: #ccc
}

.btn-default .badge {
    color: #fff;
    background-color: #333
}

.btn-primary {
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4
}

.btn-primary:focus,
.btn-primary.focus {
    color: #fff;
    background-color: #286090;
    border-color: #122b40
}

.btn-primary:hover {
    color: #fff;
    background-color: #286090;
    border-color: #204d74
}

.btn-primary:active,
.btn-primary.active,
.open>.dropdown-toggle.btn-primary {
    color: #fff;
    background-color: #286090;
    border-color: #204d74
}

.btn-primary:active:hover,
.btn-primary.active:hover,
.open>.dropdown-toggle.btn-primary:hover,
.btn-primary:active:focus,
.btn-primary.active:focus,
.open>.dropdown-toggle.btn-primary:focus,
.btn-primary:active.focus,
.btn-primary.active.focus,
.open>.dropdown-toggle.btn-primary.focus {
    color: #fff;
    background-color: #204d74;
    border-color: #122b40
}

.btn-primary:active,
.btn-primary.active,
.open>.dropdown-toggle.btn-primary {
    background-image: none
}

.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled.focus,
.btn-primary[disabled].focus,
fieldset[disabled] .btn-primary.focus {
    background-color: #337ab7;
    border-color: #2e6da4
}

.btn-primary .badge {
    color: #337ab7;
    background-color: #fff
}

.btn-success {
    color: #fff;
    background-color: #5cb85c;
    border-color: #4cae4c
}

.btn-success:focus,
.btn-success.focus {
    color: #fff;
    background-color: #449d44;
    border-color: #255625
}

.btn-success:hover {
    color: #fff;
    background-color: #449d44;
    border-color: #398439
}

.btn-success:active,
.btn-success.active,
.open>.dropdown-toggle.btn-success {
    color: #fff;
    background-color: #449d44;
    border-color: #398439
}

.btn-success:active:hover,
.btn-success.active:hover,
.open>.dropdown-toggle.btn-success:hover,
.btn-success:active:focus,
.btn-success.active:focus,
.open>.dropdown-toggle.btn-success:focus,
.btn-success:active.focus,
.btn-success.active.focus,
.open>.dropdown-toggle.btn-success.focus {
    color: #fff;
    background-color: #398439;
    border-color: #255625
}

.btn-success:active,
.btn-success.active,
.open>.dropdown-toggle.btn-success {
    background-image: none
}

.btn-success.disabled:hover,
.btn-success[disabled]:hover,
fieldset[disabled] .btn-success:hover,
.btn-success.disabled:focus,
.btn-success[disabled]:focus,
fieldset[disabled] .btn-success:focus,
.btn-success.disabled.focus,
.btn-success[disabled].focus,
fieldset[disabled] .btn-success.focus {
    background-color: #5cb85c;
    border-color: #4cae4c
}

.btn-success .badge {
    color: #5cb85c;
    background-color: #fff
}

.btn-info {
    color: #fff;
    background-color: #5bc0de;
    border-color: #46b8da
}

.btn-info:focus,
.btn-info.focus {
    color: #fff;
    background-color: #31b0d5;
    border-color: #1b6d85
}

.btn-info:hover {
    color: #fff;
    background-color: #31b0d5;
    border-color: #269abc
}

.btn-info:active,
.btn-info.active,
.open>.dropdown-toggle.btn-info {
    color: #fff;
    background-color: #31b0d5;
    border-color: #269abc
}

.btn-info:active:hover,
.btn-info.active:hover,
.open>.dropdown-toggle.btn-info:hover,
.btn-info:active:focus,
.btn-info.active:focus,
.open>.dropdown-toggle.btn-info:focus,
.btn-info:active.focus,
.btn-info.active.focus,
.open>.dropdown-toggle.btn-info.focus {
    color: #fff;
    background-color: #269abc;
    border-color: #1b6d85
}

.btn-info:active,
.btn-info.active,
.open>.dropdown-toggle.btn-info {
    background-image: none
}

.btn-info.disabled:hover,
.btn-info[disabled]:hover,
fieldset[disabled] .btn-info:hover,
.btn-info.disabled:focus,
.btn-info[disabled]:focus,
fieldset[disabled] .btn-info:focus,
.btn-info.disabled.focus,
.btn-info[disabled].focus,
fieldset[disabled] .btn-info.focus {
    background-color: #5bc0de;
    border-color: #46b8da
}

.btn-info .badge {
    color: #5bc0de;
    background-color: #fff
}

.btn-warning {
    color: #fff;
    background-color: #f0ad4e;
    border-color: #eea236
}

.btn-warning:focus,
.btn-warning.focus {
    color: #fff;
    background-color: #ec971f;
    border-color: #985f0d
}

.btn-warning:hover {
    color: #fff;
    background-color: #ec971f;
    border-color: #d58512
}

.btn-warning:active,
.btn-warning.active,
.open>.dropdown-toggle.btn-warning {
    color: #fff;
    background-color: #ec971f;
    border-color: #d58512
}

.btn-warning:active:hover,
.btn-warning.active:hover,
.open>.dropdown-toggle.btn-warning:hover,
.btn-warning:active:focus,
.btn-warning.active:focus,
.open>.dropdown-toggle.btn-warning:focus,
.btn-warning:active.focus,
.btn-warning.active.focus,
.open>.dropdown-toggle.btn-warning.focus {
    color: #fff;
    background-color: #d58512;
    border-color: #985f0d
}

.btn-warning:active,
.btn-warning.active,
.open>.dropdown-toggle.btn-warning {
    background-image: none
}

.btn-warning.disabled:hover,
.btn-warning[disabled]:hover,
fieldset[disabled] .btn-warning:hover,
.btn-warning.disabled:focus,
.btn-warning[disabled]:focus,
fieldset[disabled] .btn-warning:focus,
.btn-warning.disabled.focus,
.btn-warning[disabled].focus,
fieldset[disabled] .btn-warning.focus {
    background-color: #f0ad4e;
    border-color: #eea236
}

.btn-warning .badge {
    color: #f0ad4e;
    background-color: #fff
}

.btn-danger {
    color: #fff;
    background-color: #d9534f;
    border-color: #d43f3a
}

.btn-danger:focus,
.btn-danger.focus {
    color: #fff;
    background-color: #c9302c;
    border-color: #761c19
}

.btn-danger:hover {
    color: #fff;
    background-color: #c9302c;
    border-color: #ac2925
}

.btn-danger:active,
.btn-danger.active,
.open>.dropdown-toggle.btn-danger {
    color: #fff;
    background-color: #c9302c;
    border-color: #ac2925
}

.btn-danger:active:hover,
.btn-danger.active:hover,
.open>.dropdown-toggle.btn-danger:hover,
.btn-danger:active:focus,
.btn-danger.active:focus,
.open>.dropdown-toggle.btn-danger:focus,
.btn-danger:active.focus,
.btn-danger.active.focus,
.open>.dropdown-toggle.btn-danger.focus {
    color: #fff;
    background-color: #ac2925;
    border-color: #761c19
}

.btn-danger:active,
.btn-danger.active,
.open>.dropdown-toggle.btn-danger {
    background-image: none
}

.btn-danger.disabled:hover,
.btn-danger[disabled]:hover,
fieldset[disabled] .btn-danger:hover,
.btn-danger.disabled:focus,
.btn-danger[disabled]:focus,
fieldset[disabled] .btn-danger:focus,
.btn-danger.disabled.focus,
.btn-danger[disabled].focus,
fieldset[disabled] .btn-danger.focus {
    background-color: #d9534f;
    border-color: #d43f3a
}

.btn-danger .badge {
    color: #d9534f;
    background-color: #fff
}

.btn-link {
    color: #337ab7;
    font-weight: 400;
    border-radius: 0
}

.btn-link,
.btn-link:active,
.btn-link.active,
.btn-link[disabled],
fieldset[disabled] .btn-link {
    background-color: transparent;
    -webkit-box-shadow: none;
    box-shadow: none
}

.btn-link,
.btn-link:hover,
.btn-link:focus,
.btn-link:active {
    border-color: transparent
}

.btn-link:hover,
.btn-link:focus {
    color: #23527c;
    text-decoration: underline;
    background-color: transparent
}

.btn-link[disabled]:hover,
fieldset[disabled] .btn-link:hover,
.btn-link[disabled]:focus,
fieldset[disabled] .btn-link:focus {
    color: #777;
    text-decoration: none
}

.btn-lg,
.btn-group-lg>.btn {
    padding: 8px 13px;
    font-size: 17px;
    line-height: 1.3333333;
    border-radius: 0
}

.btn-sm,
.btn-group-sm>.btn {
    padding: 4px 8px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 0
}

.btn-xs,
.btn-group-xs>.btn {
    padding: 1px 4px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 0
}

.btn-block {
    display: block;
    width: 100%
}

.btn-block+.btn-block {
    margin-top: 5px
}

input[type=submit].btn-block,
input[type=reset].btn-block,
input[type=button].btn-block {
    width: 100%
}

.w3-input {
    padding: 8px;
    display: block;
    border: none;
    border-bottom: 1px solid #ccc;
    width: 100%
}

.w3-border-0 {
    border: 0 !important
}

.w3-border {
    border: 1px solid #ccc !important
}

.w3-select {
    padding: 9px 0;
    width: 100%;
    border: none;
    border-bottom: 1px solid #ccc
}

.w3-check,
.w3-radio {
    width: 24px;
    height: 24px;
    position: relative;
    top: 6px
}

.nounderline {
    text-decoration: none !important
}

.w3-modal {
    z-index: 3;
    display: none;
    padding-top: 100px;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: #000;
    background-color: rgba(0, 0, 0, .4)
}

.w3-modal-content {
    margin: auto;
    background-color: #fff;
    position: relative;
    padding: 0;
    outline: 0;
    width: 600px
}

@media(max-width:768px) {
    .w3-modal-content {
        width: 500px
    }

    .w3-modal {
        padding-top: 50px
    }
}

@media(min-width:993px) {
    .w3-modal-content {
        width: 900px
    }

    .w3-hide-large {
        display: none !important
    }

    .w3-sidebar.w3-collapse {
        display: block !important
    }
}

@media(max-width:600px) {
    .w3-modal-content {
        margin: 0 10px;
        width: auto !important
    }

    .w3-modal {
        padding-top: 30px
    }
}

.bbCodeBlock {
    border: 1px solid #ccc
}

.bbCodeBlock .type {
    font-weight: 700;
    color: #444;
    background-color: #e8f4fd;
    padding: 3px 8px;
    border-bottom: 1px solid #ccc
}

.bbCodeBlock .code {
    white-space: nowrap;
    font-size: 10pt;
    font-family: Consolas, courier new, Courier, monospace;
    background-color: #f0f7fc;
    word-wrap: normal;
    overflow: auto;
    line-height: 1.24
}

.bbCodeBlock .code ol {
    padding-left: 30px
}

.bbCodeQuote blockquote {
    font-style: italic;
    background-color: #fff6d4;
    padding: 5px 10px
}

.redactor_toolbar {
    background: url(https://i.imgur.com/yefRrRh.png) repeat-x scroll center top #f0f7fc;
    padding: 0 0 0 2px;
    margin: 0;
    border-bottom: 1px solid #d7edfc;
    position: relative;
    left: 0;
    top: 0;
    line-height: 0;
    list-style: outside none none;
    overflow: hidden
}

.redactor_btn_group {
    background: url(https://i.imgur.com/yefRrRh.png) repeat-x scroll center top #f0f7fc;
    padding: 1px;
    margin: 0;
    border: 1px solid #d7edfc;
    border-radius: 3px;
    overflow: hidden;
    box-shadow: 1px 1px 1px rgba(255, 255, 255, .5);
    outline: medium;
    list-style: none outside none;
    margin: 2px;
    float: left
}

.redactor_toolbar li a {
    text-align: center;
    border: 1px solid transparent;
    box-sizing: border-box;
    display: block;
    cursor: pointer;
    outline: medium;
    width: 24px;
    height: 24px;
    float: left;
    outline: medium
}

.redactor_toolbar li a:hover {
    background-color: #fcfcff;
    border-color: #a5cae4;
    border-radius: 3px;
    outline: medium
}

.video-wrapper {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden
}

.video-wrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%
}

.kvideo {
    max-width: 80%;
    max-height: auto
}

.demo_btn_bacsiwindows {
    color: #7577a9 !important;
    border: 2px solid !important;
    overflow: hidden;
    position: relative;
    padding: 10px;
    display: inline-block;
    width: 230px;
    text-align: center;
    text-decoration: none !important;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 500;
    margin: 10px 5px
}

.demo_btn_bacsiwindows:after {
    background: #7577a9;
    content: "";
    height: 155px;
    left: -75px;
    opacity: 2;
    position: absolute;
    top: -50px;
    transform: rotate(40deg);
    transition: .5s;
    width: 100px;
    z-index: 1
}

.demo_btn_bacsiwindows:hover:after {
    opacity: 1;
    left: 120%;
    transition: .5s
}
